:root {
  --vp-c-brand: hsl(328 82.9% 58.6%);
  --vp-c-brand-light: hsl(328 82.9% 60%);
  --vp-c-brand-lighter: hsl(328 82.9% 70%);
  --vp-c-brand-dark: hsl(328 89% 50%);
  --vp-c-brand-darker: hsl(328 92.9% 40%);
}
